<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoulaxiao.demo01.dao.ActorDao" >
    <resultMap id="actorResultMap" type="com.shoulaxiao.demo01.entity.Actor" >
        <id column="act_id" property="actId" />
        <result column="act_name" property="actName" />
        <result column="act_age" property="actAge"  />
        <collection property="movies" ofType="com.shoulaxiao.demo01.entity.Movie">
            <id column="id" property="movieId"/>
            <result column="name" property="movieName"  />
            <result column="years" property="years" />
            <result column="place" property="placeOrigin"  />
            <result column="category" property="category"  />
            <result column="language" property="language"  />
            <result column="releasedate" property="releaseDate"  />
            <result column="imdbsocre" property="imdbSocre"  />
            <result column="beansocre" property="beanSocre"  />
            <result column="fileformat" property="fileFormat"  />
            <result column="vedioszie" property="vedioSzie"  />
            <result column="sheellenth" property="sheelLenth"  />
            <result column="imgurl" property="imgUrl"  />
            <result column="brief" property="briefIntoduction"  />
        </collection>
    </resultMap>


    <select id="selectAll" resultMap="actorResultMap">
        SELECT a.*,m.* FROM tb_actor a LEFT OUTER JOIN movie_actor_config ac ON a.act_id=ac.actorId
          LEFT OUTER JOIN movie m ON m.id=ac.movieId
    </select>

    <!--通过演员名字查询-->
    <select id="selectOne" parameterType="java.lang.String" resultMap="actorResultMap">
        SELECT * FROM  tb_actor a LEFT OUTER JOIN movie_actor_config ac ON a.act_id=ac.actorId
          LEFT OUTER JOIN tb_movie m ON m.id=ac.movieId  WHERE a.act_name=#{actName}
    </select>

    <insert id="insertActor" parameterType="com.shoulaxiao.demo01.entity.Actor" useGeneratedKeys="true">
        INSERT INTO tb_actor (act_id,act_name,act_age) VALUES (#{actId},#{actName},#{actAge})
    </insert>
</mapper>